<body>
    <div class="Page-login">
        <div class="container rounded-3" id="container">
            <form action="/login" method="POST" class="w-100">
                <h1>Đăng nhập</h1>

                <div class="w-100 p-2">
                    <input type="email" placeholder="Email" name="email"
                        id="email" class="w-100"
                        value="<%= email || '' %>">
                    <% if (errors && errors.email) { %>
                    <span class="error-message text-danger">
                        <%= errors.email %>
                    </span>
                    <% } %>
                </div>

                <div class="w-100 p-2">
                    <input type="password" placeholder="Password"
                        name="password" id="password" class="w-100">
                    <% if (errors && errors.password) { %>
                    <span class="error-message text-danger">
                        <%= errors.password %>
                    </span>
                    <% } %>
                </div>

                <a href="/resgister">Quay về trang Đăng ký</a>

                <button class="button" type="submit">Đăng nhập</button>
            </form>
        </div>
    </div>
</body>